* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro-section {
  margin-top: 50px;
  margin-left: 60px;
}

.intro-title {
  font-family: Roboto;
  font-weight: 500;
  line-height: 28px;
}

.intro-sub-title {
  font-family: Roboto;
  font-size: 15px;
  text-decoration: underline;
  text-decoration-color: #eabb44;
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
  margin-top: 20px;
}

.skill-container {
  display: flex;
  margin-bottom: 15px;
}

.skill-list {
  list-style-type: none;
  font-family: Roboto;
  font-size: 14px;
  margin-top: 10px;
}

.skill-container ul li {
  margin-bottom: 14px;
  margin-top: 15px;
}

.skill-list-2 {
  margin-left: 40px;
}

/* ------------ latest work -------- */

.latestwork-container {
  background-color: #f6e5dd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.latestwork-sub-section {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 60px;
}

.section-title {
  font-family: Poppins;
  text-decoration: underline;
  text-decoration-color: #eabb44;
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
  text-align: center;
}

.latestwork-content {
  width: 50%;
}

.latestwork-content p {
  font-family: Poppins;
  font-size: 13px;
}

.latestwork-content span {
  font-weight: 600;
  font-size: 13px;
}

.latestwork-content h4 {
  font-family: Poppins;
  margin-top: 10px;
  margin-bottom: 6px;
}

.latestwork-content button {
  font-family: Poppins;
  width: 120px;
  height: 45px;
  border-radius: 5px;
  background-color: transparent;
  margin-top: 10px;
}

.latestwork-img {
  width: 30%;
  object-fit: contain;
  border-radius: 8px;
}

.latestwork-container hr {
  margin-top: 35px;
  width: 90%;
}

.latestwork-content p:nth-of-type(3) {
  margin-top: 10px;
}

/* ------- experience ----------- */

.experience-container {
  background-color: #f3f4f9;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-title {
  font-family: Poppins;
  text-decoration: underline;
  text-decoration-color: #eabb44;
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
  text-align: center;
}

.experience-container p {
  font-family: Poppins;
  margin-left: 50px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 18px;
}

.description {
  font-family: Poppins;
  font-size: 13px;
  margin-top: 0px;
}

.experience-container span {
  font-weight: bold;
}

.case-study-btn {
  font-family: Poppins;
  font-size: 12px;
  transition: 0.5s;
  padding: 5px;
}

.case-study-btn:hover {
  background-color: black;
  color: white;
}

/* -------- education ------------ */

.education-container {
  background-color: #e0f1fd;
  padding-top: 40px;
  padding-bottom: 40px;
}

.edu-items-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.education-container h4 {
  font-family: Poppins;
}

.edu-items-1 {
  margin-right: 100px;
  border-right: 1px solid;
  padding-right: 100px;
}

.education-container p {
  font-family: Poppins;
  font-size: 13px;
}

.download-button {
  margin-bottom: 60px;
  margin-top: 60px;
  margin-left: 45px;
  width: 180px;
  height: 40px;
}
